body{
  background-image: url(../img/fondo-madera.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-left: -5%;
}

@media (min-width: 1px) and (max-width: 1024px){
  body{
    background-image: url(../img/fondo-madera.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-left: -5%;
  }

  /*LOGO*/
  #logo img{
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: -15%;
  }
}

/*NAV*/
.pos-f-t {
  background-color: none;
  width: 50%;
  height: 10vh;
}

#btn1 {
  border: 2.5px solid #52BE80;
  margin-top: 3%;
}

#text{
  text-align: center;
  color: #52BE80;
  font-family: 'Englebert', sans-serif;
}

#photo {
  border-radius: 85px;
  width: 55%;
}

#list {
  list-style: none;
  margin-left: -55%;
}

#display {
  width: 50%;
  height: 50%;
  color: #FFF;
}

/*LOGO*/
#logo img{
  width: 60%;
  height: 40%;
  margin-left: 80%;
  margin-top: -8%;
}

/*estilos del input*/
#search {
  border: 1px solid #fff;
  border-radius: 0.5em;
  width: 75%;
  margin-left: 15%;
  margin-top: 10%;
}

/*estilos de ul*/
.list-group {
  background-color: #F3F3F3;
  width: 81%;
  margin-top: -0.1%;
  margin-left: 12%;
  border: 1px solid transparent;
  border-radius: 0.2em;
}

/*estilos de los li del input*/
.label {
  list-style: none;
  margin-left: 5%;
}

.list-group-item {
  margin-top: 2%;
  width: 90%;
  border: 1px solid transparent;
  border-radius: 0.5em;
  margin-left: 5%;
}

#img1, #img2, #img3, #img4, #img5, #img6{
  width: 70%;
  height: 70%;
}

#row1 {
  margin-top: 8%;
  font-family: 'Englebert', sans-serif;
  color: #FFF;
  text-align: center;
}

#row2 {
  margin-top: 8%;
  font-family: 'Englebert', sans-serif;
  color: #FFF;
  text-align: center;
}

/*img de los input*/
.imgLi {
  width: 12%;
  height: 12%;

}
