body{
  text-align: center;
  width: 100%;
  height: 100vh; /*altura del color de fondo*/
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*header*/
.idioma{
  font-size: 1.2em;
  color: #FFF;
  width: 70%;
  height: 50px;
  margin-top: 8%;
  margin-left: 15%;
}

#logo {
  width: 50%;
  margin-top: -5%;
}

/*SECTION*/

#welcome {
  font-size: 2.5em;
  width: 70%;
  margin-left: 15%;
  color: #fff;
}

#content {
  font-size: 1.5em;
  color: #fff;
  width: 80%;
  margin-left: 9%;
}

.divs {
  margin-top: 5%;
}

#rowLine {
  margin-top: 10%;
}

hr {
  background-color: #FFF;
}

#line{
  width: 40%;
  margin-left: 3%
}

#line2 {
  width: 40%;
}

#pPostLine {
  width: 2.5%;
  font-size: 1.5em;
  color: #FFF;
}

#btnSesion {
  height: 7vh;
  width: 70%;
  font-size: 1.5em;
  border-radius: 6px;
}

#btnSesionFace {
  font-size: 1em;
  width: 200%;
  height: 5vh;
  margin-left: 150%;
}

#registrate {
  width: 80%;
  color: #FFF;
  margin-left: 10%;
  margin-top: 2%;
}

#registrate a {
  font-weight: 700;
}

/*MODAL*/
.modal {
  width: 80%;
  height: 100vh;
}

#correo {
  width: 100%;
  height: 5.7vh;
}

#clave {
  width: 100%;
  height: 5.7vh;
  margin-top: -5%;
}

#btn-login {
  width: 25%;
  margin-left: -300%;
}

#registro {
  width: 25%;
  margin-left: 50%;
}
